.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-main {
  flex-grow: 1;
  display: flex;
}

.admin-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}