/* globals.css */

/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lora&family=Merriweather&display=swap');

/* Variables globales */
:root {
  /* Colores */
  --color-primario: #000000;
  --color-secundario: #544544 ;
  --color-terciario: #bf8c4f ;
  --color-fondo: #ffffff;
  --color-negro: #261f16;
  --color-destaque: #FF6F61;
  --color-hover: #bf8c80;

  /* Sombras y bordes */
  --sombra-suave: 0 4px 6px rgba(0, 0, 0, 0.1);
  --radio-borde: 8px;

  /* Transiciones */
  --transicion: all 0.3s ease-in-out;

  /* Tipografías */
  --fuente-principal: 'Lora', sans-serif;
  --fuente-secundaria: 'Roboto', sans-serif;

  /* Tamaños de Tipografía */
  --fuente-grande: 3rem; /* Para títulos principales */
  --fuente-mediana-grande: 2.5rem; /* Para subtítulos */
  --fuente-mediana: 2rem; /* Para encabezados */
  --fuente-normal: 1rem; /* Texto principal */
  --fuente-pequena: 0.875rem; /* Texto pequeño */
  --fuente-muy-pequena: 0.75rem; /* Texto muy pequeño */

  /* Medidas */
  --espaciado-grande: 20px;
  --espaciado-pequeno: 10px;
  --ancho-maximo: 1200px;
  
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para botones */
button {
  font-family: var(--fuente-secundaria);
  background-color: var(--color-primario);
  color: white;
  padding: var(--espaciado-pequeno) var(--espaciado-grande);
  border: none;
  border-radius: var(--radio-borde);
  cursor: pointer;
  transition: var(--transicion);
}

button:hover {
  background-color: var(--color-secundario);
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: var(--espaciado-grande);
}

th, td {
  padding: var(--espaciado-pequeno);
  border: 1px solid var(--color-negro);
}

th {
  background-color: var(--color-terciario);
  color: white;
  text-align: left;
}

td {
  color: var(--color-negro);
}

/* Estilos para enlaces */
a {
  color: var(--color-secundario);
  text-decoration: none;
  transition: var(--transicion);
}

a:hover {
  color: var(--color-hover);
  text-decoration: underline;
}

/* Estilos para listas */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: var(--espaciado-pequeno) 0;
  border-bottom: 1px solid var(--color-hover);
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--fuente-principal);
  color: var(--color-primario);
}

/* Otros estilos globales */
body {
  font-family: var(--fuente-secundaria);
  background-color: var(--color-fondo);
  color: var(--color-negro);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
