.stores-stats-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
  text-align: center;
}

.date-selector {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
}

.date-selector label {
  font-size: 14px;
  font-weight: bold;
}

.date-selector input {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chart-container {
  margin-top: 20px;
}